<div class="garden">
  <div class="gardenMenu">
    <div class="gardenMenuComp">
      Naziv: {{gardenName}}
    </div>
    <div class="gardenMenuComp">
      Kolicina vode: {{gardenWaterLevel}}l
    </div>
    <div class="gardenMenuComp">
      <button class="updateButton" (click)="addWater()">
        <mat-icon class="deleteIcon" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      </button>
      <button class="updateButton" (click)="removeWater()">
        <mat-icon class="deleteIcon" aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
      </button>
    </div>
    <div class="gardenMenuComp">
      Temperatura
      :
      {{gardenTemperature}}&#8451;
    </div>
    <div class="gardenMenuComp">

      <button class="updateButton" (click)="raiseTemp()">
        <mat-icon class="deleteIcon" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      </button>
      <button class="updateButton" (click)="lowerTemp()">
        <mat-icon class="deleteIcon" aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
      </button>

    </div>
    <div class="gardenMenuComp">
      Slobodnih mesta : {{gardenFreeSpace}}
    </div>
    <div class="gardenMenuComp">
      Zauzeto : {{gardenOccSpace}}
    </div>
    <div class="product">
      <button mat-button (click)="useProduct()" matTooltip="Primenite proizvod iz magacina">Pospesi rast</button>
    </div>

  </div>

  <table>
    <tbody>
      <tr class="plantCol" *ngFor="let row of gardenInView">

        <th class="plant" *ngFor="let col of row" (mouseenter)="hoverPlant(col)" (mouseleave)="unhoverPlant(col)">
          <div *ngIf="hovering(col)" class="hovering">
            <div *ngIf="!isPlanted(col)" class="empty">
              <button mat-raised-button class="plantButton" (click)="plant(col)">Zasadi</button>
            </div>
            <div *ngIf="isPlanted(col)" class="plantCell">
              <br>
              <br>
              <label for="progres">Progres: </label>
              <mat-progress-bar thumbLabel mode="determinate" value="{{col.state}}" name="progres"></mat-progress-bar>
              <br>
              <p>Ime: {{col.name}} </p>

              <p>Proizvodjac: {{col.producer}}</p>
              <div *ngIf = "toTakeOut(col)" class = "tooltip">
                <span class="tooltiptext">Izvadi sadnicu</span>
                <button (click) = "takeOut(col)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
             

          </div>

          <div *ngIf="!hovering(col)" class="wrapper">
            <div [ngSwitch]="detectPhase(col)" class="phaseContainer">
              <div *ngSwitchCase="1" class="phase">
                <img
                  src="https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
              </div>
              <div *ngSwitchCase="2" class="phase">
                <img
                  src="https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
              </div>
              <div *ngSwitchCase="3" class="phase">
                <img
                  src="https://images.unsplash.com/photo-1503153181849-4e4f85a341ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
              </div>
              <div *ngSwitchCase="0" class="phase">
                <img
                  src="https://ak.picdn.net/shutterstock/videos/25254071/thumb/3.jpg">
              </div>
              <div *ngSwitchDefault class="phase">
                <img
                  src="https://images.unsplash.com/photo-1541097894027-8fb878e1cb7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
              </div>
            </div>
          </div>

        </th>

      </tr>

    </tbody>
  </table>

</div>