<mat-table [dataSource]="tableSource" class="mat">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element._id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Korisnicko ime </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.username}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Tip </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
      </ng-container>


    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> Opcije </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        
        <button mat-stroked-button (click)="removeUser(element)">
            <mat-icon class = "deleteIcon" aria-hidden="false" aria-label="Example home icon" matTooltip="Obrisi korisnika">delete</mat-icon>
        </button>
        <button mat-stroked-button (click)="promoteUser(element)">
          <mat-icon class = "deleteIcon" aria-hidden="false" aria-label="Example home icon" matTooltip="Obrisi korisnika">arrow_upward</mat-icon>
        </button>
      
            
    
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>