<form class="form" [formGroup]="password" (submit)="change()" >
    <br>
    <div class="pass">
      <mat-form-field appearance="fill">
        <mat-label>Nova lozinka</mat-label>
        <input matInput   formControlName="newPassword" type="password">
      </mat-form-field>
    </div>
    
    <div class="repeat">
      <mat-form-field appearance="fill">
        <mat-label>Ponovite lozinku:</mat-label>
        <input matInput formControlName="repeat" type="password">
      </mat-form-field>
    </div>
    <label>{{error}}</label>
    <br>
    <button mat-raised-button type="submit">Zavrsi</button>
</form>
