<div>


    <mat-button-toggle-group>
        <mat-button-toggle class = "left" (click) = "back()">
            <mat-icon class = "deleteIcon" aria-hidden="false" aria-label="Example home icon">undo</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class = "inner" (click)= "showGardens()">Rasadnici</mat-button-toggle>
        <mat-button-toggle class = "inner" (click) = "addGarden()">Dodaj rasadnik </mat-button-toggle>
        <mat-button-toggle class = "inner" (click) = "getShop()">Prodavnica</mat-button-toggle>
        <mat-button-toggle class = "inner" (click)="showWarehouse()">Magacin</mat-button-toggle>
       
        <mat-button-toggle class = "right" (click)="logout()">
            Izloguj se
        </mat-button-toggle>

    </mat-button-toggle-group> 
 


</div>