<div class="slider">

  <mat-button-toggle-group name="show" aria-label="Izaberi:">
    <mat-button-toggle value="bold" (click)="showWarehouse()" checked>Magacin</mat-button-toggle>
    <mat-button-toggle value="bold" (click)="showPending()">Zahtevi</mat-button-toggle>
  </mat-button-toggle-group>


</div>
<div class="warehouse">



  <mat-table *ngIf="!pending" [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="chemicals">

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef class="header-cell"> Tip </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="isPlant(element)">
          <img src="https://www.iconspng.com/uploads/small-plant/small-plant.png">
        </div>
        <div *ngIf="!isPlant(element)">
          <img src="https://www.iconspng.com/uploads/conical-flask-chemistry/conical-flask-chemistry.png">
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell name="name" *matHeaderCellDef mat-sort-header class="header-cell"> Naziv </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="producer">
      <mat-header-cell name="producer" *matHeaderCellDef mat-sort-header class="header-cell"> Proizvodjac
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.producer}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell name="quantity" *matHeaderCellDef mat-sort-header class="header-cell"> Kolicina
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-table *ngIf="pending" [dataSource]="pendingRequests" class="pending">


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="header-cell"> Proizvod </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
      <mat-cell *matCellDef="let element">
    
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell  *matHeaderCellDef  class="header-cell"> Tip
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="properties">
      <mat-header-cell  *matHeaderCellDef  class="header-cell"> Svojstva
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.properties}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="producer">
      <mat-header-cell name="producer" *matHeaderCellDef class="header-cell"> Proizvodjac </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firmName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell name="quantity" *matHeaderCellDef class="header-cell"> Kolicina
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="courier">
      <mat-header-cell name="courier" *matHeaderCellDef  class="header-cell"> Do isporuke[min]
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell name="quantity" *matHeaderCellDef  class="header-cell"> 
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="cancelOrder(element)">
          <mat-icon>cancel </mat-icon>
        </button>  
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
  </mat-table>

</div>





