.warehouse { 
    margin : auto;
    width : 80vw;
    max-height : 60vh;

    overflow-x : hidden;
    position: relative;
    
}



.warehouse::-webkit-scrollbar{
    display : none;
}

.slider {
    
    margin : auto;
    margin-bottom : 5vh;
    right : calc(80vw / 2);
    top : 15vh;
}

.mat-table{
    margin : auto;
    width : inherit;
    height : 60vh;
    border-radius : 20px;
   
}

.ng-container{
    text-align : center;
    margin : auto;
}

 .header-cell{
    width : 20vw;
    height : 5vh;
   text-align :center;
 
}


  img {
      width :4vh;
      height : 4vh;
      background:transparent;
      user-select: none;
  }



.choice{
    margin : auto;
    width : 5vh;
    height : 3vh;
    
  
    background: transparent;
}

.mat-button-toggle-checked {
    background-color:#00ad00;
   
  }
