<body>
  <h1 *ngIf="!loggedIn && !companyLogged && !adminLogged">Dobrodosli</h1>
  <!--<mat-menu #appMenu = "matMenu" >
    <button mat-menu-item (click)="clickLogin()" *ngIf="!loggedIn">Uloguj se</button>
    <button mat-menu-item (click)="regClick()" *ngIf="!loggedIn">Registruj se</button>
    <button mat-menu-item (click)="bodyClicked()">Nazad</button>

  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" class="logreg" *ngIf="!loggedIn && !companyLogged && !adminLogged">
    Prijava
  </button>-->
  

  <user-menu *ngIf="loggedIn"></user-menu>
  <company-menu *ngIf = "companyLogged"></company-menu>
  <admin-menu *ngIf = "adminLogged"></admin-menu>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>

</body>

<footer *ngIf="loggedIn">
  <div class="footer">
    <my-footer></my-footer>
  </div>

</footer>