<body>
  <h1 *ngIf="!loggedIn">Dobrodosli</h1>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="clickLogin()" *ngIf="!loggedIn">Uloguj se</button>
    <button mat-menu-item (click)="regClick()" *ngIf="!loggedIn">Registruj se</button>
    <button mat-menu-item (click)="bodyClicked()">Nazad</button>

  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" class="logreg" *ngIf="!loggedIn">
    Prijava
  </button>

  <user-menu *ngIf="loggedIn"></user-menu>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>

</body>

<footer>
  <div class="footer">
    <h1>Footer</h1>
  </div>

</footer>