.li {
    display:inline-block;
    width : 20vw;
}

ul{
    overflow-y : scroll;
}

.mat-form-field{
    background-color:grey;
}

.wrapper{
    width : 80vw;
    height :25vh;
    background-color : blue;
    margin : auto;
  
}

.outer {
    text-align : center;
    margin : auto;
}