h2{
    color : blueviolet;
}

.dialog{
    width :60vw;
    max-height : 50vh;
    text-align : center;
    

}

.plants { 
    width : 60vw;
    margin : auto;
    max-height : 35vh;
   
    overflow-y : scroll;
    overflow-x : hidden;
}

tr{
    text-align : center;
}

th.mat-header-cell {
    text-align: center;
  }

  .mat-raised-button{
      background-color : #00b600;
      
  }
  button {
      border-radius : 3px;
  
      margin : auto;
      background-color : #00b600;
  }









