.body{
    display : flex;
    align-items : center;
    text-align : center;
    justify-content: right;
    margin : auto;
    width : 80vw;
    background-color :  rgba(29, 86, 104,1);
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    height : 5vh;
}
.general {
    width : 20vw;

}
.alert {
    width : 40vw;
    text-align : center;
    border-left : 2px solid black;
    border-right : 2px solid black;
    font-size : 20px;
    color : red;
   
}
.settings {
    width : 20vw;
    

}

button{
    color : white;
    background-color : rgba(29, 86, 104,1); 
}
