<div class = "body">
    
        <div class="general">
           <b>Moj rasadnik</b> 
        </div>
        
   
        <div class = "alert">
            <button mat-stroked-button (click)="removeAlerts()" *ngIf="alert">
                <mat-icon>close</mat-icon>
            </button>
            <b>{{numberOfAlerts}}  </b>
            <b>{{alert}}</b>
           
        </div>
     
        
        <div class="settings">
            
            <button (click)="changePass()" mat-raised-button>Promeni lozinku</button>
        </div>
    
   
</div>
