div {
    width : inherit;
    height : inherit;
}

.user-menu {
    width : inherit;
    height : inherit;
    margin : auto;
}
.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
::ng-deep .mat-form-field {
    height:1.8cm;
    background-color:rgba(116, 116, 116, 0.5);
   
   
     .mat-input-element {
         color: rgb(30, 30, 31);
     }
     .mat-form-field-label {
         color: rgb(35, 35, 36);
     }
     .mat-form-field-underline {
         background-color:rgba(72, 78, 110, 0.4);
     }
     .mat-form-field-ripple {
         background-color: slategray;
     }
     .mat-form-field-required-marker {
         color: slategray;
     }
 }
 
 
 ::ng-deep .mat-form-field.mat-focused {
     .mat-form-field-label {
         color: rgb(255, 117, 47);
     }
     .mat-form-field-ripple {
         background-color: #ff884d;
     }
     .mat-form-field-required-marker {
         color: #ff884d;
     }
     .mat-input-element {
         color: #ff884d;
     }
 }