<div class="registerForm" *ngIf="!submitted">
  <!--<form class="form"  [formGroup]="registered" (submit)="showCaptchaB()" *ngIf="!showCaptcha"> -->
  <form class="form" [formGroup]="registered" (submit)="showCaptchaB()" *ngIf="!showCaptcha">
    <div class="choose-form">
      <input type="radio" id="firm" name="choose" (change)="onChange($event)">
      <label for="firm">Firma</label>
      <input type="radio" id="worker" name="choose" (change)="onChange($event)" checked>
      <label for="worker">Poljoprivrednik</label>
    </div>
    <br>

    <div class="first">
      <mat-form-field appearance="fill">
        <mat-label *ngIf="userType">Ime</mat-label>
        <mat-label *ngIf="!userType">Ime firme</mat-label>
        <input matInput class="input-field" name="firstName" formControlName="name"
          [placeholder]='userType ? "Ime" : "Ime firme"'>
      </mat-form-field>
    </div>
    <br *ngIf="userType">
    <div class="last" *ngIf="userType">
      <mat-form-field appearance="fill">
        <mat-label>Prezime</mat-label>
        <input matInput class="input-field" name="lastName" formControlName="surrname" placeholder="Prezime">
      </mat-form-field>
    </div>
    <br>
    <div class="username">
      <mat-form-field appearance="fill">
        <mat-label *ngIf="userType">Korisnicko ime</mat-label>
        <mat-label *ngIf="!userType">Jedinstveno ime firme</mat-label>
        <input matInput class="input-field" name="username" formControlName="username"
          [placeholder]="userType ? 'Korisnicko ime' : 'Jedinstveno ime'">

      </mat-form-field>
    </div>
    <br>
    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput class="input-field" name="mail" formControlName="mail" type="email" placeholder="mail@mail.com">

      </mat-form-field>
    </div>
    <br>
    <div class="pass">
      <mat-form-field appearance="fill">
        <mat-label>Lozinka</mat-label>
        <input matInput class="input-field" name="password" formControlName="password" type="password">

      </mat-form-field>
    </div>
    <br>
    <div class="repeat">
      <mat-form-field appearance="fill">
        <mat-label>Ponovi lozinku</mat-label>
        <input matInput class="input-field" name="repeat" formControlName="repeat" type="password">

      </mat-form-field>
    </div>
    <br *ngIf="userType">
    <div class="number" *ngIf="userType">
      <mat-form-field appearance="fill">
        <mat-label>Broj telefona</mat-label>
        <input matInput class="input-field" name="number" formControlName="number" type="tel">

      </mat-form-field>

    </div>
    <br>
    <div class="date">
      <mat-form-field appearance="fill">
        <mat-label *ngIf="userType">Datum rodjenja</mat-label>
        <mat-label *ngIf="!userType">Datum osnivanja firme</mat-label>
        <input matInput class="input-field" name="date" formControlName="date" type="date">

      </mat-form-field>
    </div>
    <br>
    <div class="place">
      <mat-form-field appearance="fill">
        <mat-label *ngIf="!userType">Mesto osnivanja firme</mat-label>
        <mat-label *ngIf="userType">Mesto prebivalista</mat-label>
        <input matInput class="input-field" name="place" formControlName="place" type="place">

      </mat-form-field>
    </div>

    <br>
    <!--<label class="mistake">{{mistakeLabel}}</label>-->
    <button mat-raised-button [disabled]="registered.invalid" type="submit">Registruj se</button>
  </form>
  <div class="captcha">
    <form *ngIf="showCaptcha" class="captcha">

      <div class="gcaptcha">
        <p class="para">Jos samo par trenutaka...</p>
        <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" [(ngModel)]="myCaptcha" name="captcha"
          required siteKey="6LcAfgEVAAAAABtAw9aJtPHeYkRVKzEbMDJjPQ2c"></re-captcha>

      </div>

    </form>

  </div>

</div>
<div *ngIf="submitted">
  <h2>Hvala vam na registraciji!</h2>
  <h2>Admin tim ce uskoro pogledati vas zahtev!</h2>
  <button mat-raised-button (click)="goBack()">
    Nazad na pocetnu
  </button>
</div>