form {
    margin : auto;
    text-align : center;
    
    width : 40vw;
}

table{
    text-align : center;
    margin-left:auto;margin-right:auto;
}
.mat-form-field {
    padding : 3vh;
    border : 2px solid grey;
    
}


.product {
    margin : 0;
}

.mat-radio-group {
    vertical-align : left;
    text-align : left;
}

