div {
    width : inherit ;
    height : 20vh;
}


.mat-button-toggle:hover {
    
    background-color: rgb(168, 168, 168);
}

.mat-button-toggle{
    width : 20vw;
}


.inner {
    background-color : rgba(29, 86, 104, 0.438);
    display:inline-block;
   text-align : center;
   
  }
  
  .left {
    
    background-color : rgba(29, 86, 104, 0.438);
    display:inline-block;
   text-align : center;
   border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;;
  }
  .right{
    
    background-color : rgba(29, 86, 104, 0.438);
    display:inline-block;
   text-align : center;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
  
}