<div>

    <menu class="userMenu" > 
        <button mat-menu-item class = "left" (click) = "back()">
            <mat-icon class = "deleteIcon" aria-hidden="false" aria-label="Example home icon">undo</mat-icon>
        </button>
        <button mat-menu-item class = "inner" (click)= "showPending()">Zahtevi</button>
        <button mat-menu-item class = "inner" (click) = "showUsers()">Korisnici </button>

        <button mat-menu-item class = "right" (click)="logout()">
            Izloguj se
        </button>
    </menu>
    
    

    </div>